<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ gluggi.config.title }}{% endblock %}</title>

        <link rel="stylesheet" href="{{ coreAsset("/css/preview.css") }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("/css/app.css") }}">
        {% endblock %}
    </head>
    <body class="{{ bodyClass|default("") }}">
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script>
                var gluggi = {
                    baseUrl: "{{ path("index") }}"
                };
            </script>
            <script src="{{ coreAsset("js/navigation.js") }}"></script>
        {% endblock %}
    </body>
</html>
