{# @var downloads \BecklynLayout\Entity\Download[] #}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ gluggi.config.title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ coreAsset("/css/core.css") }}">
    </head>
    <body>
        <main class="index-listing">
            <h1>{{ gluggi.config.title }}</h1>

            {% for layoutGroup in layoutGroups if layoutGroup.elements is not empty %}
                <h2>{{ layoutGroup.title }}{% if not isFullPageElementType(layoutGroup.elementType) %} <a href="{{ path("elements_overview", {elementType: layoutGroup.elementType}) }}">show all</a>{% endif %}</h2>
                <ul>
                    {% for element in layoutGroup.elements %}
                        <li><a href="{% if not isFullPageElementType(layoutGroup.elementType) %}{{ path("elements_overview", {elementType: layoutGroup.elementType}) }}#{{ layoutGroup.elementType ~ "-" ~ element.key }}{% else %}{{ path("element", {elementType: element.elementType, key: element.key}) }}{% endif %}">{{ element.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}

            {% if downloads is not empty %}
                <h2>Downloads</h2>
                <ul>
                    {% for download in downloads %}
                        <li><a href="{{ download.url }}">{{ download.fileName }}</a> <small>{{ download.size }}, {{ download.lastModified | date("d.m.Y H:i") }} Uhr</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </main>
    </body>
</html>
