<!DOCTYPE html>
<html>
    <head>
        <title>{{ gluggi.config.title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ coreAsset("/css/core.css") }}">
    </head>
    <body>
        <main>
            <h1>{{ gluggi.config.title }}</h1>

            {% for layoutGroup in layoutGroups if layoutGroup.elements is not empty %}
                <h2>{{ layoutGroup.title }}</h2>
                <ul>
                    <li><a href="{{ path("elements_overview", {elementType: layoutGroup.elementType}) }}"><strong>Element overview</strong></a></li>
                    {% for element in layoutGroup.elements %}
                        <li><a href="{{ path("element", {elementType: element.elementType, key: element.key}) }}">{{ element.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </main>
    </body>
</html>
